* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url(./images/simple.jpg) no-repeat center center fixed;
    background-size: cover;
}

#navbar {
    background-color: hwb(0 63% 5%);
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    height: 70px;
    margin: -5px;
    margin-top: -2px;
    width: 100%;
    font-family: 'Bree Serif', serif;
    position: absolute;
}

.search-box {
    position: relative;
}

.search-box input {
    width: 130%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
    margin-left: 300px;
    font-family: 'Bree Serif', serif;
}

.nav-items {
    text-decoration: none;
    margin-left: 180px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 25px;
    color: black;
    font-family: 'Bree Serif', serif;
}

.nav-items:hover {
    background-color: #c437e0;
    border-radius: 20px;
    color: #ffe6e6;
    transition: all 0.4s ease 0s;
}

.nav-items1 {
    text-decoration: none;
    margin-left: 40px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 40px;
    font-size: 25px;
    color: black;
    font-family: 'Bree Serif', serif;
}

.nav-items1:hover {
    background-color: #bd46c2;
    border-radius: 20px;
    color: #ffe6e6;
    transition: all 0.4s ease 0s;
}

.nav-items2 {
    text-decoration: none;
    margin-left: 5px;
    padding: 5px;
    padding-left: 18px;
    padding-right: 40px;
    font-size: 25px;
    color: black;
    font-family: 'Bree Serif', serif;
}

.nav-items2:hover {
    background-color: #bd46c2;
    border-radius: 20px;
    color: #ffe6e6;
    transition: all 0.4s ease 0s;
}

.nav-items-container {
    float: left;
    margin-left: 300px;
    width: 100%;
}

.card {
    background-color: white;
    width: 340px;
    height: 250px;
    margin: 20px;
    justify-content: space-around;
    padding: 20px;
    margin-left: 80px;
    margin-bottom: 40px;
    border: 1.5px solid rgb(10, 10, 10);
    border-radius: 20px;
    box-shadow: 1px 2px 4px 2px hwb(0 63% 5%);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.card:hover {
    box-shadow: 1px 1px 2px 3px hwb(0 63% 5%);
}

.card4 {
    background-color: white;
    width: 340px;
    height: 250px;
    margin: 20px;
    justify-content: space-around;
    padding: 20px;
    margin-left: 570px;
    margin-bottom: 40px;
    border: 1.5px solid rgb(10, 10, 10);
    border-radius: 20px;
    box-shadow: 1px 2px 4px 2px hwb(0 63% 5%);
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.card4:hover {
    box-shadow: 1px 1px 2px 3px hwb(0 63% 5%);
}

.card4 img {
    width: 270px;
    height: 170px;
    margin-bottom: 10px;
    border: 2px solid rgb(60, 58, 58);
    border-radius: 10px;
}

.card4 button:hover {
    background-color: #fc7e7e;
    box-shadow: 1px 2px 2px 1px black;
}

.card-name {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.card img {
    width: 270px;
    height: 170px;
    margin-bottom: 10px;
    border: 2px solid rgb(60, 58, 58);
    border-radius: 10px;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fc7e7e;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 1px double rgb(241, 237, 237);
    margin-top: 8px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #fc7e7e;
    box-shadow: 1px 2px 2px 1px black;
}

.card-name {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer {
    display: block;
    align-items: center;
    position: relative;
    background-color: hwb(0 63% 5%);
    height: 250px;
    margin-top: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    position: absolute;
    top: 25px;
    margin-left: 50px;
    color: black;
}

.about-list {
    position: absolute;
    top: 80px;
    margin-left: 30px;
    color: black;
    font-size: 20px;
}

.help {
    position: absolute;
    color: black;
    margin-left: 400px;
    top: 25px;
}

.help-list {
    position: absolute;
    color: black;
    margin-left: 400px;
    top: 90px;
    font-size: 20px;
}

.policy {
    position: absolute;
    color: black;
    margin-left: 620px;
    top: 25px;
}

.policy-list {
    position: absolute;
    color: black;
    margin-left: 620px;
    top: 90px;
    font-size: 20px;
}

.social {
    position: absolute;
    color: black;
    margin-left: 800px;
    top: 25px;
}

.social-list {
    position: absolute;
    color: black;
    margin-left: 800px;
    top: 90px;
    font-size: 20px;
}

.contribute {
    position: absolute;
    color: black;
    margin-left: 1000px;
    top: 25px;
}

.cont_list {
    position: absolute;
    color: black;
    margin-left: 1000px;
    top: 90px;
    font-size: 20px;
}

.cont_list2 {
    position: absolute;
    color: black;
    margin-left: 1200px;
    top: 90px;
    font-size: 20px;
}

.cl {
    top: 200px;
    text-decoration: none;
}

.contact {
    margin-left: 50px;
}

.call {
    text-decoration: none !important;
}

.anc {
    text-decoration: none !important;
    color: black;
}

.about-2 {
    position: absolute;
    top: 25px;
    margin-left: 1000px;
    color: black;
}

.about-list-2 {
    position: absolute;
    top: 80px;
    margin-left: 1000px;
    color: black;
    font-size: 20px;
}